.toast-notification:not(.fade-out) {
  animation: fadeIn 0.3s ease-in-out 1;
}

.toast-notification.fade-in-out {
  animation: fadeInOut 2s ease-in-out;

  opacity: 0;
  height: 0;
  transform: translateY(-100%);
  z-index: 998;
}

.toast-notification.fade-out {
  animation: fadeOut 0.3s ease-in-out 1;
  opacity: 0;
  height: 0;
  transform: translateY(-100%);
}

.inner {
  min-height: 0;
}

.marquee {
  animation: marqueeAnimation 10s ease;
  animation-iteration-count: infinite;
}

@keyframes marqueeAnimation {
  0% {
    transform: translateX(-100%);
  }
  20% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

/* 
prioritizes animating height and top margin before fading element in 
final height value should be the same as the height of the element
the current value is equivalent to 5rem or 80px set by Tailwind class h-18

the negative margin value -.1rem is added to offset the gap 
created by the insertion of the new element

the margin is animated instead because the gap appears without any transition
*/
@keyframes fadeIn {
  0% {
    height: 0;
    margin-top: -0.1rem;
    z-index: 998;
    opacity: 0;
    transform: translateY(-100%);
  }

  40% {
    height: 5rem;
    margin-top: 0;

    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
    z-index: 998;
    height: 5rem;
    margin-top: 0;
  }

  60% {
    opacity: 0;
    transform: translateY(-100%);

    height: 5rem;
    margin-top: 0;
  }

  100% {
    height: 0;
    margin-top: -0.1rem;
  }
}

@keyframes fadeInOut {
  /* start expanding space */
  0% {
    height: 0;
    margin-top: -0.1rem;
    opacity: 0;
    transform: translateY(-100%);

    z-index: 998;
  }

  /* stop expanding space, start fading in */
  10% {
    height: 5rem;
    margin-top: 0;

    opacity: 0;
    transform: translateY(-100%);
  }
  /* stop fading in, pause animation */
  25% {
    opacity: 1;
    transform: translateY(0);

    height: 5rem;
    margin-top: 0;

    z-index: 999;
  }
  /* resume animation, start fading out */
  75% {
    opacity: 1;
    transform: translateY(0);

    height: 5rem;
    margin-top: 0;

    z-index: 999;
  }
  /* stop fading out, start shrinking space */
  90% {
    opacity: 0;
    transform: translateY(-100%);

    height: 5rem;
    margin-top: 0;

    z-index: 998;
  }

  /* 100% {
    
    opacity: 0;
    transform: translateY(-100%);
    height: 0;
    margin-top: -.1rem;
  } */
}
